In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C3longitudinal.csv')

/Users/andrewbatuure/miniforge3/envs/tensorflow/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3251: DtypeWarning: Columns (8,20,28,39,53,109,118,128,177,199,214,235,236,246,283,300,326,331,345,350,363,369,386,462,466,467,512,527,535,556,584,589,603,607,614,627,631,633,652,732,733,782,796,811,815,827,849,896,902,916,920,931,944,948,950,972,1013,1018,1045,1059,1071,1097,1118,1170,1181,1183,1187,1188,1249,1253,1266,1283,1321,1363,1379,1396,1405,1434,1477,1493,1543,1549,1550,1569,1620,1625,1638,1656,1698,1757,1774,1805,1849,1865,1869,1877,1889,1947,1973,1974,1978,1979,1996,2039,2059,2075,2080,2093,2115,2179,2196,2201,2202,2204,2261,2265,2278,2293,2305,2336,2359,2398,2404,2407,2410,2416,2444,2445,2448,2476,2482,2483,2512,2513,2517,2518,2526,2542,2554,2575,2586,2599,2610,2622,2633,2645,2656,2670,2686,2737,2753,2758,2772,2794,2817,2826,2872,2889,2893,2939,2945,3008,3009,3012,3046,3051,3052,3056,3057,3095,3109,3131,3144,3158,3171,3232,3236,3250,3285,3309,3318,3361,3378,3382,3432,3480,3481,3485,3486,3505,3510,3528,3541,3557,3596,3613,3628,3645,3660,3677,3754,3758,3772,3795,3820,3829,3872,3874,3891,3895,3904,3957,3992,4016,4030,4031,4044,4050,4057,4058,4062,4063,4105,4118,4134,4150,4174,4191,4207,4224,4239,4256,4320,4330,4333,4347,4394,4398,4442,4475,4509,4533,4535,4539) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# df.head(5)

,STATE,ParticipantID,RecSource,ResponseIDV0,EndDateV0dt,StatusV0,ProgressV0,DurationV0,UserLanguageV0,consentV0,...,LabReceivedDateS3a,TestResultS3,TestResultS3a,ConfirmatoryResultS3,ConfirmatoryResultS3a,OrderIDS3,RejectedS3,RejectedReasonS3,TestRequestDateS3,TestResultDateS3
0,FL,100001,Original Wave,R_tKa7YEaoL9F1mkp,1.901030e+09,0.0,100.0,879.0,ES-ES,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OR,100002,Original Wave,R_3EWLoLpRRhhfp8L,1.901030e+09,0.0,100.0,400.0,EN,1.0,...,NaN,Non-Reactive,NaN,Reactive,NaN,7100002.0,0.0,NaN,22713.0,22728.0
2,NY,100003,Original Wave,R_XG5V4wzusrrJflT,1.901030e+09,0.0,100.0,1804.0,EN,1.0,...,NaN,Non-Reactive,NaN,Reactive,NaN,7100003.0,0.0,NaN,22713.0,22755.0
3,WI,100004,Original Wave,R_2R2rbwyz9CoC1cZ,1.901030e+09,0.0,100.0,1480.0,EN,1.0,...,NaN,Non-Reactive,NaN,Reactive,NaN,7100004.0,0.0,NaN,22713.0,22736.0
4,NY,100005,Original Wave,R_1qX8DC4RLBVkCNg,1.901031e+09,0.0,100.0,2970.0,EN,1.0,...,NaN,Reactive,NaN,Reactive,NaN,7100005.0,0.0,NaN,22713.0,22791.0

In [50]:
fix_df = df[['STATE','ParticipantID','RecSource','DurationV0', 'smokeV0', 'esmokeV0']].copy()
fix_df['age'] = df['_agev7']
fix_df['household_size'] = df['_HHtotal']
fix_df['air_travel'] = df['airtravel_v4']


#OPTIONALS
# would you take antiviral for covid
fix_df['antiviral'] = df['antiviralpill_v9']

# VACCINES
# booster
mask = np.where(df['booster_v8'] == 1, 1,0)
mask = mask + np.where(df['booster_v9'] == 1, 1,0)
mask = mask + np.where(df['booster_v10'] == 1, 1,0)
fix_df['booster'] = [False if i == 0 else True for i in mask]

# would get a vaccine
fix_df['early_vax_interest'] = df['covidvacV0']

#fix_df['booster'] = df['booster_v8']

#DISEASE
#
fix_df['had_covid'] = df['confirmcovid_v8']
#fix_df['covid_date'] = df['confirmcoviddate_v8']

In [52]:
fix_df['gender'] = ['Male' if i == 1 else 'Female' if i == 2 else 'Non-Binary' for i in df['genderV0']]

# -99: Skipped, 1: 1Hispanic, 2: 4White NH, 3: 2Black NH, 4: 3Asian\Pacific Islander, 5: 5Other, 6: 3Asian\Pacific Islander, 7: 5Other, 8: 5Other, 9: 9Multiracial, 10: 10Missing
fix_df['race'] = ['hispanic' if i == 1 else 'white' if i == 2 else 'black' if i== 3
                else 'asian_pi' if i== 4 else 'asian_pi' if i == 6 else 'multiracial' if i == 9
                else pd.NA if i == 10 else 'other' for i in df['racee']]


display(fix_df['early_vax_interest'].value_counts())
fix_df

1.0     5865
98.0    1158
0.0      863
Name: early_vax_interest, dtype: int64

,STATE,ParticipantID,RecSource,DurationV0,smokeV0,esmokeV0,age,household_size,air_travel,antiviral,booster,early_vax_interest,had_covid,gender,race
0,FL,100001,Original Wave,879.0,3.0,1.0,60.0,2.0,NaN,NaN,False,1.0,NaN,Male,hispanic
1,OR,100002,Original Wave,400.0,1.0,2.0,39.0,2.0,0.0,1.0,True,1.0,0.0,Male,white
2,NY,100003,Original Wave,1804.0,1.0,1.0,27.0,3.0,0.0,3.0,True,1.0,0.0,Female,white
3,WI,100004,Original Wave,1480.0,1.0,1.0,53.0,3.0,0.0,1.0,True,1.0,NaN,Female,white
4,NY,100005,Original Wave,2970.0,1.0,1.0,50.0,4.0,0.0,3.0,True,1.0,0.0,Female,white
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13608,NaN,120555,Referral,NaN,NaN,NaN,26.0,NaN,NaN,NaN,False,NaN,NaN,Non-Binary,other
13609,OH,120556,Referral,NaN,3.0,2.0,37.0,1.0,1.0,2.0,True,NaN,1.0,Female,black
13610,OH,120557,Referral,NaN,3.0,1.0,65.0,3.0,0.0,1.0,True,NaN,0.0,Female,black
13611,AZ,120558,Referral,NaN,1.0,1.0,34.0,4.0,0.0,2.0,True,NaN,0.0,Female,hispanic
13612,NY,120559,Referral,NaN,1.0,1.0,50.0,5.0,NaN,NaN,False,NaN,NaN,Female,asian_pi